[submodule "3rd/knife"]
	path = 3rd/knife
	url = https://github.com/airstruck/knife
[submodule "3rd/json.lua"]
	path = 3rd/json
	url = https://github.com/rxi/json.lua
[submodule "3rd/bump.lua"]
	path = 3rd/bump
	url = https://github.com/kikito/bump.lua.git
[submodule "3rd/sti"]
	path = 3rd/sti
	url = https://github.com/karai17/Simple-Tiled-Implementation
[submodule "3rd/easing"]
	path = 3rd/easing
	url = https://github.com/emmanueloga/easing
